*.pyc
.config
.config.old
.defconfig
.dirlist
cconfig.h
rtconfig.h
partition_table.h
.sconsign.dblite
.Kconfig.prj
*.bak
.log/
.cscope/
output/
/patches/
/toolchain/
build/
!bsp/peripheral/wireless/aic8800/build/
tools/toolchain/
tools/env/tools/ConEmu
packages/packages.dbsqlite
packages/pkgs_error.json
packages/pkgs.json
.clang-format
.commit
.editorconfig
.gitattributes
.vscode
.idea

